@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

:root {
  font-family: 'Red Hat Mono', monospace;
  font-size: 48px;
  --tick: 500ms;
  --letter-spacing: 0.5ch;
  --letter-width: 1ch;
  /* Number of letters - overridden in js */
  --number-of-letters: 10;
  --background-col: #555;
  --foreground-col: #fff;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--foreground-col);
  height: 100%;
  width: 100%;
}

.canvas {
  position: absolute;
  width: 90vw;
  height: 60vh;
  background-color: var(--background-col);
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mask {
  position: absolute;
  margin-top: -0.19rem;
  width: calc(11ch + (var(--letter-spacing) * 10));
  height: 1em;
  background-color: var(--background-col);
  z-index: 1;
}

.title-container {
  margin: 0;
  padding: 0;
  /* letter-spacing: var(--letter-spacing); */
  user-select: none;
  overflow: hidden;
}

.letter {
  display: inline-block;
  transform: translateY(65%);
}

.invisible {
  opacity: 0;
}

.underline {
  color: white;
  display: inline-block;
  transform: translateX(calc(var(--number-of-letters) * var(--letter-width) * -1));
  animation: slide calc(calc(var(--number-of-letters)) * var(--tick)) forwards linear;
  animation-delay: var(--tick);
}

@keyframes slide {
  from {
    transform: translateX(calc(var(--number-of-letters) * (var(--letter-width)+1) * -1));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes rise {
  from {
    transform: translateY(65%);
  }

  to {
    transform: translateY(0);
  }
}


/*
.letter:nth-child(even) {
  background-color: #aaa;
}

.letter:nth-child(odd) {
  background-color: #888;
}
/*
/*
.letter:nth-child(4n-2) {
  color: blue;
}

.letter:nth-child(4n-1) {
  color: lightgreen;
}

.letter:nth-child(4n) {
  color: yellow;
} */

html {
  visibility: visible;
  opacity: 1;
}